<form @submit.prevent="inject">
    <div class="form-group">
        <label for="inject-type">Type</label>
        <select id="inject-type" v-model="type" class="form-control input-sm">
          <option value="icmp">ICMPv4/Echo request</option>
        </select>
    </div>
    <div class="form-group">
        <label>Target</label>
        <node-selector class="inject-target" placeholder="From" attr="ID" v-model="node1"></node-selector>
        <node-selector placeholder="To" attr="ID" v-model="node2"></node-selector>
    </div>
    <div class="form-group">
        <label for="inject-count">Nb. of packets</label>
        <input id="inject-count" type="number" class="form-control input-sm" v-model="count" min="1" />
    </div>
    <button type="submit" class="btn btn-primary">Inject</button>
    <button type="button" class="btn btn-danger" @click="reset">Reset</button>
</form>