<form @submit.prevent="validateQuery">
    <p v-if="time" class="label center-block node-time">
        Flows at {{timeHuman}}
    </p>
    <div class="form-group has-feedback" :class="{'has-success': !error, 'has-error': error}">
        <label for="flow-table-query">Flow query</label>
        <input id="flow-table-query" type="text" class="form-control" v-model="query" />
        <span v-if="error" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span v-else class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span v-show="error" class="help-block">{{error}}</span>
    </div>
    <flow-table :value="validatedQuery"></flow-table>
</form>