<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Skydive Dashboard</title>

  <link rel="icon" type="image/png" href="/statics/img/skydive-logo-16x16.png" />

  <link rel="stylesheet" href="/statics/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/statics/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/statics/css/jquery-ui.min.css" media="all" type="text/css" />
  <link rel="stylesheet" href="/statics/css/slider.css" />
  <link rel="stylesheet" href="/statics/css/skydive.css" />

  <!-- build:js /statics/js/app.js -->
  <script src="app.js"></script>
  <!-- /build -->
</head>

<body>

  <div id="app">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Skydive
            <span class="mode">{{service}}  {{version}}</span>
          </a>
        </div>
        <div class="collapse navbar-collapse" v-if="logged">
          <ul class="nav navbar-nav">
            <router-link tag="li" to="/topology">
              <a>Topology</a>
            </router-link>
            <!--
            <router-link v-if="service == 'Analyzer'" tag="li" to="/conversation">
              <a>Conversation</a>
            </router-link>
            <router-link v-if="service == 'Analyzer'" tag="li" to="/discovery">
              <a>Discovery</a>
            </router-link>
            -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <router-link tag="li" to="/logout">
              <a>Logout</a>
            </router-link>
          </ul>
        </div>
      </div>
    </nav>

    <transition name="slide" mode="out-in">
      <router-view></router-view>
    </transition>

    <notifications></notifications>
  </div>
</body>
</html>

